# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro bundler
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment files (secrets)
.env
.env.local
.env.*.local

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Testing
coverage/

# Temporary files
*.log
*.tmp
